@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .grid-card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 2rem;
    }

    .first-grid-card {
        display: grid;
        gap: 28px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    }

    @media(max-width:550px) {
        .first-grid-card {
            display: grid;
            gap: 28px;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

        }
    }




    .btn-control {
        @apply h-5 w-5 cursor-pointer
    }

    .btn-control:hover {
        @apply scale-125 transition-transform duration-100 ease-out
    }

    .sidebar-item {
        @apply flex items-center space-x-2 opacity-70 transition-all duration-100 ease-out
    }

    .sidebar-item:hover {
        @apply opacity-100
    }

    .loader {
        margin: 0 auto;
        width: 60px;
        height: 50px;
        text-align: center;
        font-size: 10px;
        position: relative;
        top: 30vh;
        left: 30px;
        -webkit-transform: translateY(-50%) translateX(-50%);
    }


    .loader div {
        height: 100%;
        width: 8px;
        display: inline-block;
        float: left;
        margin-left: 2px;
        -webkit-animation: delay 0.8s infinite ease-in-out;
        animation: delay 0.8s infinite ease-in-out;
    }

    .bar1 {
        background-color: #1ed760;
    }

    .bar2 {
        background-color: #1ed760;
        -webkit-animation-delay: -0.7s;
        animation-delay: -0.7s;
    }

    .bar3 {
        background-color: #1ed760;
        -webkit-animation-delay: -0.6s;
        animation-delay: -0.6s;
    }

    .bar4 {
        background-color: #1ed760;
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
    }

    .bar5 {
        background-color: #1ed760;
        -webkit-animation-delay: -0.4s;
        animation-delay: -0.4s;
    }

    .bar6 {
        background-color: #1ed760;
        -webkit-animation-delay: -0.3s;
        animation-delay: -0.3s;
    }



    @-webkit-keyframes delay {

        0%,
        40%,
        100% {
            -webkit-transform: scaleY(0.05)
        }

        20% {
            -webkit-transform: scaleY(1.0)
        }
    }

    @keyframes delay {

        0%,
        40%,
        100% {
            transform: scaleY(0.05);
            -webkit-transform: scaleY(0.05);
        }

        20% {
            transform: scaleY(1.0);
            -webkit-transform: scaleY(1.0);
        }
    }

    .ganres-section {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 25px;

    }


}