@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .grid-card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 2rem;
    }

    .first-grid-card {
        display: grid;
        gap: 28px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    }

    @media(max-width:550px) {
        .first-grid-card {
            display: grid;
            gap: 28px;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

        }
    }




    .btn-control {
        @apply h-5 w-5 cursor-pointer
    }

    .btn-control:hover {
        @apply scale-125 transition-transform duration-100 ease-out
    }

    .sidebar-item {
        @apply flex items-center space-x-2 opacity-70 transition-all duration-100 ease-out
    }

    .sidebar-item:hover {
        @apply opacity-100
    }


    .ganres-section {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 25px;

    }


}